<link rel="stylesheet" href="/css/header.css">
<div class="nav-bar-container">

    <div class="nav-bar">
        <img src="/images/temp_logo-removebg-preview.png"  alt="Company logo" id="logo"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <div class="contact-us">
            <div class="nav-links">
            <a href="/" id="home-link">Home</a>
            <a href="/about" id="about-link">About</a>
            <a href="/services" id="services-link">Services</a>
            <a href="/contact" id="contacts-link">Contact Us</a>
            <div id="location">
                <i class="fas fa-map-marker-alt"></i> <p>Servicing Saskatoon</p>
            </div>
            
        </div>
        </div>
    </div>
</div>
