<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="nav-bar-container">

    <div class="nav-bar">


        <div class="contact-us">
            <img src="/images/logo.png"  alt="Company logo" id="logo"/>

            <div class="nav-links">

                <a href="/" class="<%= (activePage === '/' ? 'active' : '') %>">Home</a>
                <a href="/about" class="<%= (activePage === '/about' ? 'active' : '') %>">About</a>
                <a href="/services" class="<%= (activePage === '/services' ? 'active' : '') %>">Services</a>
                <a href="/contact-us" class="<%= activePage === '/contact-us' ? 'active' : '' %>">Contact</a>


                
                <!-- <div id="location">
                    <i class="fas fa-map-marker-alt"></i> <p>Servicing Saskatoon</p>
                </div> -->
            </div>
            <div class="btn-container">
                <button id="contact-us-btn">Book Online</button>
            </div>
        </div>
    </div>
</div>
