.nav-bar-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 77, 85);
    padding-top: 20px;
    min-width: 100%;
    border: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border: none;
}

.contact-us {
    display: flex;
    flex-direction: column;

    background-color: rgb(63, 77, 85);
    /* transform: skewX(20deg);
    transform-origin: right top; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 2% 100%);
    overflow: hidden;
    align-items: flex-end;
    justify-content: flex-end; 
    width: 100%;
}

.nav-links {
    background-color: rgb(255, 255, 255);
    height: 50px;
    min-width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-links a {
    padding: 15px;
    font-size: 1.2em;
    color: rgb(63, 77, 85);
    text-decoration: none;
    border: 0px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
}

.nav-links a:hover {
    color: #1f96e6;
}

#location {
    display: flex;
    /* transform: skewX(-20deg); */
    font-size: 1.2em;
    color: rgb(63, 77, 85);
    font-family: 'Roboto';
    margin-top: 25px;
    margin-left: 30%;
    margin-right: 5%;
}

#location p {
    display: flex;
    align-items: center;
    white-space: nowrap; 
    align-items: center;
    margin-top: 0px;
    margin-left: 5%; 
}


#logo {
    overflow: hidden;
    max-height: 130px;
    margin-top: .5%;
    padding: .2rem;
}

#consult-btn {
    size: 1rem;
    width: 10px;
}

#contact-us-btn {
    background-color: white;
    height: 3.5rem;
    width: 20rem;
    margin-bottom: 2.5%;
    margin-right: 2.5%;
    color: #3f4d55;
    font-size: 1.5em; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    z-index: 1; 
}
#contact-us-btn:hover {
    background-color:  #1f96e6;
    color: white;
}